<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 m-5 text-center">
      <h1>Edit handyman</h1>

      <%= render 'form', handyman: @handyman %>
      <br>
      <%= link_to 'Back', my_profile_path, class:"btn btn-info"%>
    </div>
  </div>
</div>
