<div class="container">
  <div class="cards">
    <% @handyman.each do |handyman|%>
      <%= render 'shared/handyman_card', handyman: handyman %>
    <% end %>
  </div>
    <%= link_to "Back", root_path, class:"green_btn" %>
</div>
