<div class="handyman-card">
  <div class="card-img">
    <h1>imagen</h1>
  </div>
  <div class="card-info">
    <h4>Nombre</h4>
    <p>Skill</p>
    <i class="fas fa-solid fa-star"></i>
  </div>
</div>
