<%# LANDING TOP %>
<div class="landing-top">

  <%# BANNER %>
  <div class="banner">
    <div class="container">
      <div class="banner-headders">
        <h1>Handy!</h1>
        <h2>Solutions at hand</h2>
      </div>
      <div class="sign-in-btn">
        <%= link_to "Sign in", new_user_session_path %>
      </div>
    </div>
  </div>

  <%# LOGO %>
  <div class="logo"></div>

  <%# SEARCH SPACE %>
  <div class="container">
    <div class="search-box">
      <h3>Look for your Handyman</h3>

      <%= simple_form_for :search, url: root_path, method: :get do |f| %>
        <div class="form-group">
          <input class="grow" type="text" name="search[query]" />
          <button type="submit" class="btn btn-success d-flex">
            <i class="fas fa-search"></i> Search
          </button>
        </div>
      <% end %>
    </div>
  </div>

  <%# CARDS SPACE %>
  <div class="container">
    <div class="cards">
      <% @handyman.each do |handyman|%>
        <%= render 'shared/handyman_card', handyman: handyman %>
      <% end %>
    </div>
  </div>
  <%= link_to "Find a Handy", handymen_path %>
</div>
